<div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-mini">
        <div class="logo-image-small">
            <img src="images/user/logo-small.png">
        </div>
    </a>
    <a href="http://www.creative-tim.com" class="simple-text logo-normal">
        Tiếng anh căn bản
        <!-- <div class="logo-image-big">
          <img src="../assets/img/logo-big.png">
        </div> -->
    </a>
</div>

<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="active ">
            <a href="partials/user/examples/package.hbs">
                <i class="nc-icon nc-diamond"></i>
                <p>Package</p>
            </a>
        </li>
    </ul>
</div>