<!DOCTYPE html>
<html>
<head>
    <script src="https://use.fontawesome.com/b715684b4a.js"></script>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--    <link rel="stylesheet" href="stylesheets/user/bootstrap.mim.css">-->
    <link href="stylesheets/user/paper-dashboard.css?v=2.0.0" rel="stylesheet" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--      <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />-->

</head>
<body>
{{> menu }}
<div class="container">
    {{{body}}}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--    <script src="https://kit.fontawesome.com/8ae960c880.js" crossorigin="anonymous"></script>-->
</body>
</html>
